<div>
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="../../../assets/images/almacen.png" />
                <h2>Administracion de Productos</h2>
                <p>Aqui va el texto</p>
                <p><a class="btn btn-primary btn-lg" href="#productos" role="button">Productos</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="../../../assets/images/inventario.png" />
                <h2>Administracion de Inventario</h2>
                <p>Aqui va el texto</p>
                
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Inventario</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <img src="../../../assets/images/clientes.png" />
                <h2>Administracion de Clientes</h2>
                <p>Aqui va el texto</p>
                <p><a class="btn btn-primary btn-lg" href="#clientes" role="button">Clientes</a></p>
            </div>
        </div>
    </div>

</div>
